.feed_container{
    width: 50%;
    margin: 0 30px;
    justify-content: center;
}

.feed_add{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.5%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 12px;
}

.feed_add_input{
    display: flex;
    padding-top: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.feed_add_input>div>input{
    height: 35px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid lightgrey;
    padding: 0 13px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.feed_add_input>button{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 71, 171);
    margin-left: 37px;
    margin-bottom: 20px;
}

.feed_add_photo{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 71, 171);
    margin: 14px 0;
}

@media screen and (max-width: 700px){
    .feed_container{
        width: 100%;
        margin: 0 5px;
    }
}

@media screen and (max-width: 500px){
    .feed_container{
        width: 97.4%;
    }
}