.recents_container{
    padding: 1px 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    background-color: white;
}

.recents_title{
    font-size: 14px;
    font-weight: 600;
}

.recents_tags_container{
    margin-left: 20px;
    font-size: 14px;
    color: grey;
    font-weight: 600;
}

.recents_tags_container>p{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .recents_container{
        width: 180px;
    }
}

@media screen and (max-width: 500px) {
    .recents_container{
        width: 180px;
        height: 250px;
        margin-top: 0px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 430px) {
    .recents_container{
        width: 147px;
    }

    .recents_tags_container{
        margin-left: 8px;
    }
}