.right_menu_container{
    width: 240px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid lightgrey;
    padding: 0 10px;
    height: 370px;
    position: sticky;
    top: 85px;
}

.right_menu_title{
    font-weight: bold;
    font-size: 18px;
}

.right_menu_news_title{
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .right_menu_container{
        display: none;
    }
}